body {
    margin: 0;
    font-family: 'Open_Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: inherit;
}
div {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
}
input {
    border: 2px solid #ccc;
    padding: 2px;
    border-radius: 4px;
    outline: none;
}
select {
    border: 2px solid #ccc;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 4px;
    outline: none;
}
option {
    padding: none;
}


::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #BBBBBB;
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #929292;
}

@font-face {
    font-family: 'Open_Sans';
    src: local('Open_Sans'), url(./fonts/open-sans-v17-latin-regular.woff) format('woff');
}
